<h1>Add Subscription</h1>

<form action="/create_subscription" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name"> </br>

  <label for="price">Price</label>
  <input type="decimal" name="price" id="price"> </br>

  <label for="billing_frequency">Billing Frequency</label>
  <input type="text" name="billing_frequency" id="billing_frequency"> </br>

  <label for="renewal_date">Renewal Date</label>
  <input type="date" name="renewal_date" id="renewal_date"> </br>

  <input type="submit" value="Add Subscription!">
</form>