<h1>Log in to your Subscription Tracker</h1>

<form action="/login" method="POST">

  <label for="username">Email</label>
  <input type="text" name="email"> </br>

  <label for="password">Password</label>
  <input type="password" name="password" id="password"> </br>

  <input type="submit" value="Log In" id="submit">
</form>