<style> th, td {padding-right: 25px;} </style>

<table>
  <tr>
    <th>Subscription</th>
    <th>Price </th>
    <th>Billing Frequency</th>
  </tr>
  
    <% current_user.subscriptions.each do |subscription| %>
        <tr>
            <td>
                <a href="/subscriptions/<%= subscription.id %>"> <%= subscription.name %></a>
            </td> 
            <td><%= subscription.price %></td>
            <td><%= subscription.billing_frequency %></td>
        </tr>
    <% end %>
</table>
<a href="/create_subscription">Add New Subscription</a>
<br>
<br>
<a href="/logout">Sign Out</a>